<%= turbo_frame_tag "account_sidebar" do %>
  <div class="bg-white shadow rounded-2xl p-4 space-y-4 account-sidebar">
    <h2 class="text-sm font-semibold text-gray-600 uppercase tracking-wide">
      <%= t(".title") %>
    </h2>
    <div class="divide-y divide-gray-200">
      <% @accounts.each do |account| %>
        <%= render partial: '/accounts/card', locals: { account: account } %>
      <% end %>
    </div>
  </div>
<% end %>