<div class="bg-white rounded-2xl shadow p-6 top-categories-chart">
  <h2 class="text-sm font-semibold text-gray-600 mb-4">
    Top categorías por gasto (<%= @period.titleize %>)
  </h2>

  <% if @top_expense_tags_by_currency.blank? %>
    <p class="text-sm text-gray-500">No hay suficientes datos para mostrar esta gráfica.</p>
  <% else %>
    <% @top_expense_tags_by_currency.each do |currency, tag_data| %>
      <div class="mb-6">
        <h3 class="text-sm font-medium text-gray-600 mb-2">
          En <%= currency %>
        </h3>

        <% if tag_data.blank? %>
          <p class="text-sm text-gray-400">Sin datos para <%= currency %>.</p>
        <% else %>
          <%= bar_chart tag_data,
                height: "250px",
                library: {
                  indexAxis: 'y',
                  scales: {
                    x: { beginAtZero: true },
                    y: { ticks: { autoSkip: false } }
                  },
                  plugins: {
                    legend: { display: false }
                  }
                } %>
        <% end %>
      </div>
    <% end %>
   <% end %>
</div>
