<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-30 backdrop-blur-sm z-50 transition-opacity duration-3000">
    <div class="bg-white w-full max-w-lg rounded-xl shadow-lg p-6 relative">
      <h2 class="text-lg font-semibold mb-4"><%=t(".title") %></h2>

      <%= render partial: "form", locals: {  account: @account } %>

      <%= link_to "✕", "#", data: { action: "click->modal#close" },
          class: "absolute top-3 right-3 text-gray-400 hover:text-gray-600 text-xl" %>
    </div>
  </div>
<% end %>