<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-30 backdrop-blur-sm z-50 transition-opacity duration-3000">
    <div id="modal_content" >
      <%= render partial: "form", locals: {  account: @account } %>
    </div>
  </div>
<% end %>